.appointments {
  /* background-image: url('../../assets/images/doctor-background.png'); */
  min-height: 100vh;
  background-color: #97bf10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.book__doctor {
  display: grid;
}

.appointments .book__doctor input,
label,
select {
  width: 100%;
}

.appointments .book__doctor input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.doctor__selector {
  margin-bottom: 2rem;
}

.doctor__selector select {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.doctor__selector select option {
  padding: 5px;
}

.date__selector {
  display: grid;
  padding-bottom: 1.2rem;
}

.book_button {
  border-radius: 55px;
  height: 35px;
  font-size: 1.1rem;
  line-height: 1rem;
  width: 150px;
  justify-self: center;
  border: none;
}

.book_button:hover {
  background-color: #435607 !important;
  color: white;
}

.description-text-area {
  width: 100%;
  border-radius: 10px;
  padding-inline-start: 6px;
}

.book__form {
  max-width: unset;
}

@media screen and (max-width: 700px) {
  .appointments {
    min-height: unset;
  }
}
