* {
  overflow-x: hidden;
}

.content_div {
  max-width: 70vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.cover_div {
  position: relative;
  width: 90%;
  height: 50%;
}

.scroll_content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.doctors_div {
  min-width: 250px;
  height: 350px;
  margin: 0 10px;
  border: 2px solid #fff;
  overflow: hidden;
  gap: 5px;
}

.scroll_content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.doctors_img {
  border-radius: 50%;
  height: 70%;
  max-width: max-content;
  cursor: pointer;
}

.doctors_name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.specialization {
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.arrow {
  color: white;
  font-size: 20px;
  width: 50px;
  height: 80px;
  outline: none;
  border: none;
  background-color: #97bf10;
  padding: 25px;
  cursor: pointer;
  border-radius: 50% 0 0 50%;
}

.left {
  border-radius: 0 50% 50% 0;
  margin-right: 5px;
}

.arrow:focus {
  background-color: #97bf10;
}

.disable {
  background-color: #f0e9e9;
  cursor: not-allowed !important;
}

.page_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.available_docs {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.select {
  color: grey;
}

.preloader {
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 30%;
  transition: 2.3s linear;
}

.loading {
  position: relative;
  height: 50vh;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  font-size: 1.8rem;
  text-align: center;
  color: red;
}

/* new doctor */

.new_doctor {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;

  /* border: 2px red solid; */
  width: 100%;
}

.new_doctor_title {
  margin-bottom: 10px;
  text-align: center;
}

.new_doctor_form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: max-content;
  gap: 20px;
  padding: 20px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.new_doctor_btn {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #97bf10;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}

.delete-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.delete-doctor {
  font-size: 12px !important;
  padding: 3px;
  color: red;
}

@media screen and (max-width: 700px) {
  .doctors_div {
    min-width: 200px;
    height: 350px;
  }

  .doctors_img {
    height: 70%;
  }

  .scroll_content {
    gap: 2px;
  }

  .arrow {
    width: 50px;
  }

  .preloader {
    left: 25%;
  }

  .content_div {
    max-width: 90vw;
    height: 100%;
  }

  form {
    min-width: 80vw;
  }

  .new_doctor {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
