.navbar {
  width: 300px;
  height: 100vh;
  box-shadow: 5px 5px 12px #ddd;
}

.navbar_main {
  padding: 0.7rem;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.nav__logo {
  width: 200px;
  height: 200px;
}

.nav__logo img {
  width: 100%;
  height: 100%;
  background-color: #82cd47;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.header__link {
  margin-top: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  width: 100%;
}

.active {
  background-color: #82cd47;
  border: none;
  border-radius: 5px;
}

.nav_items {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

/* Humbuger menu */
.menu__button {
  display: none;
}

#showNav {
  display: flex;
  flex-direction: column;
}

.navbar #hideshadow {
  box-shadow: none;
}
#d-none {
  display: none;
}
/* .navbar_main#hideNav {
  display: none;
} */

@media only screen and (max-width: 960px) {
  .menu__button {
    display: flex;
  }
}

@media screen and (max-width:700px) {
  .navbar {
    width: 100%;
  }
  .nav_items {
    display: none;
    padding: 5px;
  }
  .navbar {
    height: auto;
  }
  .header__links {
    margin-top: unset;
  }
}
