.navbar {
  width: 20%;
  height: 100vh;
  box-shadow: 5px 5px 12px #ddd;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.nav__logo {
  width: 200px;
  height: 200px;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.header__link {
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  width: 100%;
}

.active {
  background-color: #82CD47;
}