.navbar {
  width: 300px;
  height: 100vh;
  box-shadow: 5px 5px 12px #ddd;
  position: relative;
}

.navbar_main {
  padding: 0.7rem;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.nav__logo {
  width: 200px;
  height: 200px;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.header__link {
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  width: 100%;
}

.active {
  background-color: #82CD47;
}

.menu__button {
  display: none;
}

/* .navbar_right #hidden {
  display: flex;
} */

@media screen and (max-width: 960px){
  .menu__button {
    display: flex;
  }

  .header__links {
    display: none;
  }

  .nav__logo {
    display: none;
  }

  .navbar {
    box-shadow: none;
  }

}