:root {
  --green: #96bf01;
}

.login-section {
  background-image:
    url("../../assets/images/doctorBackground.png"),
    linear-gradient(#d6d8cd, #96bf01);
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* background: var(--green); */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 35vh;
}

.login-section > h1 {
  overflow: unset;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.login-form > h4 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-transform: unset;
}

.login-form > input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding-inline-start: 15px;
}

.login-form-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}

.login-form-buttons > * {
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  color: var(--green);
  width: 50%;
  height: 50px;
  padding: 7px;
  cursor: pointer;
}

.login-form-buttons > button:hover {
  opacity: 1.5;
  background-color: var(--green);
  color: white;
}
