* {
  margin: 0;
  padding: 0;
}

.doctor-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.doctor-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
}

.doctor_photo {
  display: block;
  margin: auto;
  width: 50% !important;
}

.doctor-detail__name {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

.doctor-detail__specializations {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
}

.doctor-detail__description {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.doctor-detail__button {
  display: block;
  margin: 1rem auto;
  width: 50%;
}
