.card-img,
.card-img-top,
.card-img-bottom {
  margin: 5px auto;
  display: block;
  width: 60% !important;
}

/* why you need this ifyou use bootstrap? */
.btn,
.btn-primary {
  background-color: #97c010 !important;
  border-color: #97c010 !important;
  height: 35px;
  font-size: 1rem;
  line-height: 1rem;
}

.button__D {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 15px;
}

.btn-success:hover {
  background-color: #86be73 !important;
}

.container {
  margin: 20px;
  padding-top: 20px;
  background-color: #86be73;
}

td {
  width: 80%;
}

th {
  width: 20%;
}

.d-flex,
.justify-content-end {
  display: flex !important;
  width: 100%;
  justify-content: center !important;
  gap: 30px;
}

.arrow__back {
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: rgb(147, 236, 12);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 50% 50% 0;
}

.back {
  color: white;
}

.back:hover {
  color: #86be73;
}

.d-flex,
.row {
  display: flex !important;
  width: 100%;
  justify-content: center !important;
  gap: 30px;
}
