* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
}

.app-container {
  margin-left: 20px;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 700px) {
  #root {
    flex-direction: column;
  }

  .app-container {
    margin: unset;
    height: auto;
    min-height: 80vh;
  }

  .appointments {
    min-height: 70vh;
  }
}
