.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #90a17d;
  height: 80px;
}

.header__links {
  font-weight: bolder;
  font-size: 1rem;
}

.header__link {
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.nav__logo {
  display: flex;
  gap: 10px;
  height: 60px;
  width: 200px;
  padding-top: 5px;
}

.nav__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__button {
  display: none;
}

.navbar_right #hidden {
  display: flex;
}

@media only screen and (max-width: 960px) {
  .header__link {
    font-size: 0.9rem;
  }

  .menu__button {
    display: flex;
  }

  .header__links {
    display: none;
  }

  .navbar_right #hidden {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #90a17d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .navbar_right #hidden .header__link {
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
  }
}
